//colores
$white:white;
$black:black;
$salmon:#ffeae2;
$gray-light: #eae9e7;
$gray-medium:#f3f4f5;
$shadow: rgba(0, 0, 0, 0.116);
$imput-gray:#f2f4f5;
$placeholder-gray:#d2d0cc;
//font
$monserrat:'Montserrat', sans-serif;
$raleway:'Raleway', sans-serif;
$oswald:'Oswald', sans-serif;
$times:'Times New Roman', Times, serif;
$play:'Playfair Display', serif;
$squada:'Squada One', cursive;
$lato:'Lato', sans-serif;
