@media(max-width:1598px){
    .mainDouble-img {
        width: 100%;
        float: none;
    }
    .mainDouble-text {
        width: 100%;
        float: none;
    }
    .mainDouble-p2 {
        padding-left: 250px;
    }
    .mainDouble-text img {
        padding-left: 250px;
    }
}