@media(max-width:767px){
    .mainDouble-p2 {
        margin-left: 7%;
    }
    .logo {
        margin-right: 50.8%;
    }
    .header-text {
        margin-left: 1.4%;
    }
    .header-text p + p {
        padding-left: 0%;
        text-align: center;
    }
    .mainTheMost-p2::after {
        top: 43.1%;
    }
    .boxes {
        width: 100%;
    }
    .subMainHappy h2::after {
        top: 6%;
    }
    .subMainClass1 {
        width: 75%;
    }
    .subMainGroup {
        width: 100%;
    }
    .shop {
        padding-right: 0%;
        padding-left: 0%;
        padding-bottom: 0%;
    }
    .subFooter1Colum {
        float: none;
        padding-right: 0%
    }
    .subFooter1 {
        padding-left: 0%;
        text-align: center;
    }
    .subFooter1Colum-form {
        float: none;
    }
    input {
        width: 50%;
    }
    button {
        width: 34%;
        margin: 0%;
        display:inline;
    }
    .subFooter1Colum li {
        padding-bottom: 5.6%;
    }
    .subFooter1Colum h3 {
        padding-bottom: 6%;
    }
    .subFooter1Colum-form p {
        padding-bottom: 7.8%;
    }
    .subFooter1Colum-form h3 {
        padding-bottom: 5.2%;
    }
}