@media(max-width:1023px){
    .logo{
        margin-right: 61.8%;
    }
    .header-text{
        margin-left: 3.4%;
    }
    .mainTheMost-p2::after {
        top: 48.1%;
    }
    .mainDouble-text {
        width: 100%;
        float: none;
    }
    .mainDouble-img {
        width: 100%;
        float: none;
    }
    .mainDouble-p1 {
        text-align: center;
        padding-left: 19.5%;
    }
    .mainDouble-p2 {
        margin-left: 10%;
    }
    .mainDouble-text img{
        padding-left: 46.5%;
    }
    .subMainClass h2::after {
        top: 8%;
        height: 0.1%;
    }
    .subMainClass1 {
        width: 50%;
        float: none;
        margin: 0% auto;
        margin-bottom: 7.2%;
    }
    .subMainGroup {
        width: 70%;
        float: none;
        margin: 0% auto;
    }
    .subFooter1Colum {
        padding-right:30%;
    }
    .shop{
        padding-right:0%;
        padding-left:9%;
        padding-bottom: 2%;
    }
    .contact{
        padding-right:21%;
    }
    .subFooter1{
        padding-left: 7%;
    }
    .footer2 p {
        float: none;
        text-align: center;
        padding-top: 2.7%;
        margin-bottom: 2.7%;
        margin-right: 0%;
    }
    .fb{
        margin-left: 35%;
    }
    .footer2{
        padding-bottom: 5%;
    }
}