.footer2{
  background-color: $imput-gray;
  p{
    float: left;
    margin-right: 25%;
    font-size: 1rem;
    font-family: $monserrat;
    letter-spacing: 0.25rem;
    font-weight: 400;
    margin-top: 2.7%;
    margin-bottom: 2.7%;
  }
  ul{
    margin: 0%;
    padding: 0%;
  }
  li{
    list-style: none;
    display: block;
    float: left;
    margin-top: 2.7%;
    img{
      display: block;
    }
  }
  li+li{
    margin-left: 1%;
  }
}
