.logo{
  h1{
    margin:0px;
    display: block;
  }
  a{
    display: block;
    text-decoration: none;
    font-family: $monserrat;
    letter-spacing: 6px;
    font-size: 30px;
    color: $white;
    padding: 29px 20px 29px 20px;
  }
  background-color: $black;
  width: 200px;
  float: left;
  margin-top: 50px;
  margin-left: 99px;
  margin-right: 949px;
}
.menu{
  width: 54px;
  border-top: solid 4px $white;
  border-bottom: solid 4px $white;
  float: left;
  margin-top: 58px;
  a{
    display: block;
    text-decoration: none;
    font-family: $monserrat;
    letter-spacing: 2px;
    font-size: 15px;
    color: $white;
    padding: 8px 0px 8px 0px;
  }
}

.headder-logo{
  margin-bottom: 200px;
}
.header-text{
  width: 710px;
  text-align: center;
  margin-left: 608px;
  margin-bottom: 220px;
}
.header-text-smile{
  display: block;
  font-family: $raleway;
  font-size: 220px;
  letter-spacing: 20px;
  margin: 0;
  font-weight: 100;
  color: $white;
}
.header-text-it{
  display: block;
  font-family: $raleway;
  font-weight: bold;
  font-size:64px;
  margin: 0;
  letter-spacing: 5px;
  color: $white;
}
.headder-seccion{
  background-image: url('../../img/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.header-points{
  margin-bottom: 115px;
  img{
    display: block;
    margin: 0 auto;
  }
}
