.logo{
  h1{
    margin:0;
    display: block;
  }
  a{
    display: block;
    text-decoration: none;
    font-family: $monserrat;
    letter-spacing: 0.375rem;
    font-size: 1.875rem;
    color: $white;
    padding: 29px 20px 29px 20px;
  }
  background-color: $black;
  width: 200px;
  float: left;
  margin-top: 3.6%;
  margin-left: 7.1%;
  margin-right: 67.8%;
}
.menu{
  width: 54px;
  border-top: solid 4px $white;
  border-bottom: solid 4px $white;
  float: left;
  margin-top: 4.2%;
  a{
    display: block;
    text-decoration: none;
    font-family: $monserrat;
    letter-spacing: 0.125rem;
    font-size: 0.937rem;
    color: $white;
    padding: 8px 0px 8px 0px;
  }
}

.headder-logo{
  margin-bottom: 14.3%;
}
.header-text{
  width: 50.8%;
  text-align: center;
  margin-left: 43.4%;
  margin-bottom: 15.71%;
}
.header-text-smile{
  display: block;
  font-family: $raleway;
  font-size: 12rem;
  letter-spacing: 1.25rem;
  margin: 0%;
  font-weight: 100;
  color: $white;
}
.header-text-it{
  display: block;
  font-family: $raleway;
  font-weight: bold;
  font-size:4rem;
  margin: 0;
  letter-spacing: 0.312rem;
  color: $white;
}
.headder-seccion{
  background-image: url('../img/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.header-points{
  max-width: 185px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 13.21%;
  img{
    max-width: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}
