.mainClass{
  background-color:$gray-medium ;
}
.subMainClass{
  position: relative;
  h2{
    margin: 0;
    font-size: 3.75rem;
    font-family: $raleway;
    font-weight: 700;
    padding-top:6.4%;
    margin-bottom: 9.1%;
  }
}
.subMainClass h2::after{
  content: "";
  position: absolute;
  left: 0%;
  top: 14%;
  height:0.3%;
  width: 5.9%;
  font-weight: bold;
  background-color: $black;
}
.subMainClass1{
  background-image: url('../img/4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: 764px;
  float: left;
  p{
    margin-top: 0%;
    font-family: $oswald;
    font-weight: bold;
    font-size:4.375rem;
    text-align: center;
    color: $white;
    padding-top: 32.67%;
    margin-bottom: 25%;
  }
}
.subMain-buy-a{
  font-family: $monserrat;
  color: $white;
  text-decoration:none;
  font-size: 1.25rem;
  float: left;
  letter-spacing: 0.25rem;
}
.subMain-buy-share{
  height: 0%;
  width: 0%;
  padding-left: 44.6%;
  float: left;
  img{
    display: block;
  }
}
.subMain-buy{
  width: 87.1%;
  margin: 0% auto;
  padding-top: 9%;
  display: none;
}
.subMainClass1:hover div{
  display: block;
}
.subMainClass1:hover{
  box-shadow: 0px 0px 50px 50px $shadow;
}
.subMainGroup{
  width: 52.8%;
  float: left;
  margin-left: 7%;
}
.subMainClass2{
  width: 100%;
  height: 370px;
  background-image: url('../img/5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 7.2%;
}
.subMainClass2-p{
  font-family: $times;
  font-size: 2.25rem;
  font-style: italic;
  font-weight: bold;
  margin-left: 10.4%;
  margin-top: 0%;
  padding-top:10.5%;
  margin-bottom: 2.4%;
}
.subMainClass2-p2{
  font-family: $play;
  font-size: 1.187rem;
  margin-left: 10.4%;
  margin-top: 0%;
  margin-bottom: 13.5%;
}
.subMain-buy-a2{
  font-family: $monserrat;
  color: $white;
  text-decoration:none;
  font-size: 1.25rem;
  float: left;
  letter-spacing: 0.25rem;
}
.subMain-buy-share2{
  height: 0%;
  width: 0%;
  padding-left: 47.2%;
  float: left;
  img{
    display: block;
  }
}
.subMain-buy2{
  margin-left: 10.4%;
  display: none;
}
.subMainClass2:hover div{
  display: block;
}
.subMainClass2:hover{
  box-shadow: 0px 0px 50px 50px $shadow;
}
.subMainClass3{
  width: 44.7%;
  height: 340px;
  background-image: url('../img/6.jpg');
  float:left;
  background-repeat: no-repeat;
}
.subMainClass3 p{
  margin-top: 0;
  font-family: $squada;
  font-size: 2.65rem;
  line-height: 2.65rem;
  text-align: center;
  padding-top: 10.6%;
  margin-bottom:57.4%;
}
.subMain-buy-a3{
  font-family: $monserrat;
  color: $white;
  text-decoration:none;
  font-size: 1.25rem;
  float: left;
  letter-spacing: 0.25rem;
}
.subMain-buy-share3{
  height: 0%;
  width: 0%;
  float: left;
  padding-left:9%;
  img{
    display: block;
  }
}
.subMain-buy3{
  margin-left:9%;
  display: none;
}
.subMainClass3:hover div{
  display: block;
}
.subMainClass3:hover{
  box-shadow: 0px 0px 50px 50px $shadow;
}
.subMainClass4{
  width: 44.7%;
  height: 340px;
  background-image: url('../img/7.jpg');
  float:left;
  margin-left: 10.5%;
  background-repeat: no-repeat;
}
.subMainClass4-p1{
  font-family: $lato;
  font-weight: 700;
  font-size: 1.875rem;
  margin-bottom: 0px;
  text-align: center;
  margin-top: 31.6%;
}
.subMainClass4-p2{
  font-family: $lato;
  font-weight: 900;
  font-size: 2.457rem;
  margin-top: 0%;
  text-align: center;
  padding-bottom: 26.1%;
}
.subMain-buy-a4{
  font-family: $monserrat;
  color: $white;
  text-decoration:none;
  font-size: 1.25rem;
  float: left;
  letter-spacing: 0.25rem;
}
.subMain-buy-share4{
  height: 0%;
  width: 0%;
  float: left;
  padding-left:9%;
  img{
    display: block;
  }
}
.subMain-buy4{
  margin-left:9%;
  display: none;
}
.subMainClass4:hover div{
  display: block;
}
.subMainClass4:hover{
  box-shadow: 0px 0px 50px 50px $shadow;
}
.subMain-a{
  font-weight: bold;
  text-align: center;
  margin-top: 7.14%;
  padding-bottom: 8.28%;
  a{
    width: 20%;
    border: 2px solid $black;
    padding: 18px 40px 18px 40px;
    font-size: 20px;
    font-family: $monserrat;
    text-decoration: none;
    display: block;
    color: $black;
    border-radius: 5px;
    margin: 0 auto;
  }
}
.subMain-a a:hover{
  color: $white;
  background-color: $black;
}
