.subMainTheMost{
  text-align: center;
  position: relative;
  h2{
    font-family: $raleway;
    font-weight: 200;
    font-size: 3.75rem;
    margin-bottom: 0%;
    margin-top:6.4%;
  }
}
.mainTheMost-p1{
  font-family: $raleway;
  font-weight: 700;
  font-size: 3.75rem;
  margin-top:0%;
  margin-bottom: 0%;
}
.mainTheMost-p2{
  font-size: 1.25rem;
  font-family: $raleway;
  font-weight: 600;
  margin-top: 2.5%;
  margin-bottom: 7.7%;
}
.mainTheMost-p2::after{
  content: "";
  position: absolute;
  left: 47.7%;
  top: 55.1%;
  height:0.5%;
  width: 6%;
  font-weight: bold;
  background-color: $black;
}
.mainTheMost-p3{
  margin: 0% auto;
  font-size: 1.25rem;
  font-family: $raleway;
  font-weight: 500;
  width: 67.6%;
  margin-bottom: 5%;
}
