.mainDouble{
  margin: 0 auto;
  img{
    float: left;
  }
}
.mainDouble-text{
  text-align: left;
  font-size: 36px;
  background-color: $salmon;
  width: 50%;
  float: left;
  img{
    display: block;
    padding-left: 250px;
    padding-bottom: 79px;
    margin: 0 auto;
  }
}
.mainDouble-p1{
  font-family: $raleway;
  width: 576px;
  font-weight: 700;
  padding-top:144px;
  padding-left: 250px;
  margin: 0 auto;
  margin-left: 0px;
}
.mainDouble-p2{
  padding-left: 250px;
  font-family: $raleway;
  font-weight: 300;
}
.mainDouble-img{
  width: 50%;
  background-image: url('../../img/2.jpg');
  height: 636px;
  background-size: cover;
  float: left;
}
